/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/typography/vertical_rhythm";
@import url(http://fonts.googleapis.com/css?family=Raleway:300);

$base-font-size: 16px;
$base-line-height: 24px;

$main: #3888ED;

$column-width: 6/96;
$column-gutter: 1/96;

@mixin grid-unit($columns) {
	width: percentage(($column-width * $columns) + ($column-gutter * 2 * ($columns - 1)));
	margin-left: percentage($column-gutter);
	margin-right: percentage($column-gutter);
}

@include establish-baseline;

body {
	font-family: Helvetica, Arial, sans-serif;
}

div.clear {
	clear: both;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Raleway, Helvetica, Arial, sans-serif;
	font-weight: 300;
}

h1 {
	@include adjust-font-size-to(42px);

	&.title {
		color: $main;
		text-transform: uppercase;
		@include adjust-font-size-to(32px);
	}
}

h2 {
	@include adjust-font-size-to(36px);
}

h3 {
	@include adjust-font-size-to(32px);
}

h4 {
	@include adjust-font-size-to(24px);
}

h5 {
	@include adjust-font-size-to(18px);
}

h6 {
	@include adjust-font-size-to(16px);
}

.subheading {
	color: #777;
}

hr {
	border: 1px solid #ccc;
}

p {
	color: #444;
	margin: rhythm(2/3, 16px) 0;
}

ul, ol {
	margin: rhythm(2/3, 16px) 0 rhythm(2/3, 16px) 8px;
	padding: 0 0 0 15px;

	ol, ul {
		margin: 0;
	}

	li {
		margin: rhythm(1/3, 16px) 0;
	}
}

ol {
	list-style-type: decimal;
	ol {
		list-style-type: lower-alpha;
		ol {
			list-style-type: lower-roman;
		}
	}
}

ul {
	list-style-type: disc;
	ul {
		list-style-type: circle;
		ul {
			list-style-type: square;
		}
	}
}

a {
	color: $main;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

pre, code {
	font-family: "Courier New", monospace;
	white-space: pre;
	display: block;
}

code {
	border: 1px solid #ddd;
	padding: 0 10px;
}

blockquote {
	@include adjust-font-size-to(16px, 1.2);
	font-style: italic;
	padding: 10px;
	margin: rhythm(2/3, 16px) 0;
	background-color: #eee;
}

.nav {
	ul {
		background-color: #000;
		display: block;
		padding: 0;
		margin: 0;

		li {
			display: inline-block;
			position: relative;
			padding: 0;
			margin: 0;

			a {
				display: block;
				padding: 10px;
				color: #fff;
				text-decoration: none;

				&:hover {
					background-color: $main;
				}
			}

			&.dropdown {

				a {
					background-image: url('../images/chevron-down-white.png');
					background-repeat: no-repeat;
					background-position: right 8px top 18px;
					background-position-x: 93%;
					background-position-y: 50%;
					padding-right: 25px;
				}

				ul {
					position: absolute;
					z-index: 10;
					top: 44px;
					float: left;
					display: none;

					li {
						width: 100%;

						a {
							background-image: none;
							padding-right: 10px;
						}
					}
				}

				&.hover ul {
					display: block;
				}
			} 
		}
	}
}

form {
	width: 100%;

	label {
		@include adjust-font-size-to(14px, 1.5);
	}

	select, input {
		margin: rhythm(1/8, 14px) 0;
	}

	input {
		@include adjust-font-size-to(14px, 1);
		border: 1px solid #ccc;
		padding: 3px;
	}

	input:disabled {
		color: #aaa;
		text-decoration: line-through;
		background-color: #eee;
	}

	select {
		@include adjust-font-size-to(14px, 1);
		border: 1px solid #ccc;
		padding: 3px;
		min-width: 150px;
		-webkit-appearance: none;
		border-radius: 0;
		background-image: url('../images/chevron-down.png');
		background-repeat: no-repeat;
		background-position: right 8px top 11px;
		background-position-x: 93%;
		background-position-y: 50%;
	}

	input[type="checkbox"], input[type="radio"] {
		vertical-align: 2px;
		margin-right: 3px;
	}

	div.button-row {
		margin: 15px 0 0 0;
	}

	input[type="submit"], button {
		@include adjust-font-size-to(14px, 1);
		-webkit-appearance: none;
		margin: 0;
		display: inline;
		padding: 10px 15px;
		background-color: #eee;
		color: #888;
		border: none;

		&:hover {
			background-color: #ccc;
			color: #444;
		}

		&:active {
			background-color: #f3f3f3;
			color: #444;
		}
	}

	.button-blue {
		background-color: $main !important;
		color: #fff !important;

		&:hover {
			background-color: darken($main, 10%) !important;
		}

		&:active {
			background-color: lighten($main, 5%) !important;
		}
	}

}

form.inline {

	label {
		width: 150px;
		text-align: right;
		padding-right: 5px;
		clear: left;
		float: left;
	}

	div.button-row {
		margin-left: 150px;
	}

	input[type="checkbox"], input[type="radio"] {
		margin: rhythm(4/7, 16px) 0;
	}
		
}

table {
	width: 100%;
	
	th {
		font-weight: bold;
	}

	tbody tr {
		border-top: 1px solid #ccc;
	}

	td {
		padding: 5px;
	}
}

.row {
	white-space-collapse: discard;

	.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
		display: inline-block;
	}
}

@for $i from 1 through 12 {
	.c#{$i} { @include grid-unit($i); }
}