/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/typography/vertical_rhythm";
@import url(http://fonts.googleapis.com/css?family=Raleway:300);

$base-font-size: 16px;
$base-line-height: 16px;

$main: #3888ED;

@include establish-baseline;

// START DEMO

div.demo {
	padding: 20px;
	margin: 10px auto;
	width: 960px;
	border: 1px solid #ccc;
}

span.demotag {
	display: block;
	float: right;
	background-color: #ffa;
	@include adjust-font-size-to(12px);
	padding: 3px;
	font-family: "Courier New", monospace;
	clear: right;
}

// END DEMO

body {
	font-family: Helvetica, Arial, sans-serif;
}

div.clear {
	clear: both;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Raleway, Helvetica, Arial, sans-serif;
	font-weight: 300px;
}

h1 {
	@include adjust-font-size-to(42px);

	&.title {
		color: $main;
		text-transform: uppercase;
		@include adjust-font-size-to(32px);
	}
}

h2 {
	@include adjust-font-size-to(36px);
}

h3 {
	@include adjust-font-size-to(32px);
}

h4 {
	@include adjust-font-size-to(24px);
}

h5 {
	@include adjust-font-size-to(18px);
}

h6 {
	@include adjust-font-size-to(16px);
}

.subheading {
	color: #777;
}

hr {
	border: 1px solid #ccc;
}

p {
	color: #444;
	margin: rhythm(2/3, 16px) 0;
}

ul, ol {
	margin: rhythm(2/3, 16px) 0 rhythm(2/3, 16px) 8px;
	padding: 0 0 0 15px;

	ol, ul {
		margin: 0;
	}

	li {
		margin: rhythm(1/3, 16px) 0;
	}
}

ol {
	list-style-type: decimal;
	ol {
		list-style-type: lower-alpha;
		ol {
			list-style-type: lower-roman;
		}
	}
}

ul {
	list-style-type: disc;
	ul {
		list-style-type: circle;
		ul {
			list-style-type: square;
		}
	}
}

a {
	color: $main;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

pre, code {
	font-family: "Courier New", monospace;
	white-space: pre;
	display: block;
}

code {
	border: 1px solid #ddd;
	padding: 0 10px;
}

blockquote {
	@include adjust-font-size-to(16px, 1.2);
	font-style: italic;
	padding: 10px;
	margin: rhythm(2/3, 16px) 0;
	background-color: #eee;
}

form {
	width: 100%;

	label {
		@include adjust-font-size-to(14px, 1.5);
		display: block;
		width: 150px;
		text-align: right;
		float: left;
		padding-right: 5px;
		clear: left;
	}

	select, input {
		margin: rhythm(2/3, 14px) 0;
		display: block;
	}

	input {
		@include adjust-font-size-to(14px, 1);
		border: 1px solid #ccc;
		padding: 3px;
	}

	input:disabled {
		color: #aaa;
		text-decoration: line-through;
		background-color: #eee;
	}

	input[type="checkbox"] {
		@include adjust-font-size-to(14px, 1.5);
		display: inline-block;
		background-image: url('../images/unchecked.png');
		background-repeat: no-repeat;
		border: none;
		height: 12px;
		width: 12px;
		-webkit-appearance: none;
		margin-top: 7px;
		clear: both;
	}

	input[type="checkbox"]:checked {
		background-image: url('../images/check.png');
	}

	input[type="radio"] {
		@include adjust-font-size-to(14px, 1.5);
		display: inline-block;
		background-image: url('../images/circle.png');
		background-repeat: no-repeat;
		border: none;
		height: 12px;
		width: 12px;
		-webkit-appearance: none;
		margin-top: 6px;
		width: 600px;
		clear: both;
	}

	input[type="radio"]:checked {
		background-image: url('../images/record.png');
	}

	select {
		@include adjust-font-size-to(14px, 1);
		border: 1px solid #ccc;
		padding: 3px;
		min-width: 150px;
		-webkit-appearance: none;
		border-radius: 0;
		background-image: url('../images/chevron-down.png');
		background-repeat: no-repeat;
		background-position: right 4px top 7px;
	}

	div.button-row {
		margin-left: 150px;
	}

	button {
		@include adjust-font-size-to(14px, 1);
		padding: 10px 15px;
		margin: 0;
	}

	input[type="submit"], button {
		@include adjust-font-size-to(14px, 1);
		margin: 0;
		display: inline;
		padding: 10px 15px;
		background-color: #eee;
		color: #888;
		border: none;

		&:hover {
			background-color: #f3f3f3;
			color: #444;
		}

		&:active {
			background-color: #ccc;
			color: #444;
		}
	}

	.button-blue {
		background-color: $main !important;
		color: #fff !important;

		&:hover {
			background-color: lighten($main, 10%) !important;
		}

		&:active {
			background-color: darken($main, 10%) !important;
		}
	}

}